@model BookIndexViewModel

@using BookShelf.Models.BookViewModels;

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-4">
        <h2>Manage</h2>
        <div>
            <h3>Add Book</h3>
            <div class="form-group">
                <label for="AddBookFormTitle">Title</label>
                <input type="text" class="form-control" data-bind="value:AddBookForm.Title, enable:AddBookForm.Enabled" id="AddBookFormTitle" />
            </div>
            <div class="form-group">
                <label for="AddBookFormAuthor">Author</label>
                <select class="form-control" data-bind="value:AddBookForm.Author, options:Authors, optionsText:'name', enable:AddBookForm.Enabled" id="AddBookFormAuthor"></select>
            </div>
            <button class="btn btn-default" data-bind="click:AddBook, enable:AddBookForm.Enabled">Add</button>
        </div>
        <div>
            <h3>Add Author</h3>
            <div class="form-group">
                <input type="text" class="form-control" data-bind="value:AddAuthorForm.Name, enable:AddAuthorForm.Enabled" />
            </div>
            <button class="btn btn-default" data-bind="click:AddAuthor, enable:AddAuthorForm.Enabled">Add</button>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Available</h2>
        <div data-bind="foreach: In">
            <div>
                <h3 data-bind="text: Title"></h3>
                <div>Author: <span data-bind="text: Author().name"></span></div>
                <div>
                    <button class="btn btn-primary" data-bind="click: ToggleLoanStatus">Loaned out &gt;</button>
                    <button class="btn btn-danger" data-bind="click: $root.Delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>On loan</h2>
        <div data-bind="foreach: Out">
            <div>
                <h3 data-bind="text: Title"></h3>
                <div>Author: <span data-bind="text: Author().name"></span></div>
                <div>
                    <button class="btn btn-success" data-bind="click: ToggleLoanStatus">&lt; Returned</button>
                    <button class="btn btn-danger" data-bind="click: $root.Delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var authors = @Json.Serialize(Model.Authors);

        var books = @Json.Serialize(Model.Books);

        var bookViewModels = [];

        for (var i = 0; i < books.length; i++) {

            var author;

            for (var j = 0; j < authors.length; j++) {
                if (authors[j].id == books[i].authorId) {
                    author = authors[j];
                    break;
                }
            }

            bookViewModels.push(new BookViewModel(books[i].id, books[i].title, author, books[i].onLoan));
        }

        ko.applyBindings(new StackViewModel(bookViewModels, authors));

    </script>
}